
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Top Layout Page</title>
</head>
<body>
    <div>

        <h2 class="blue">Header </h2>

        <div>        @RenderBody() </div>


        <h2 class="blue">  Footer </h2>
    </div>
</body>
</html>
