
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <h2>Your enrties have been Saved Successfully!!!</h2>

    @Html.ActionLink("View Summary Page","Summary","Product")

</body>
</html>
