
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TryAgain</title>
</head>
<body>
    <div>

        <h2>
            Dude...Your Product ID was too high...press
            this go back button below to try again!!!


        </h2>

        @Html.ActionLink("Try This Again!!", "LoadProductPage", "Product")


    </div>
</body>
</html>
