
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nice</title>
</head>
<body>
    <p>Our main ingredient is talent</p>
</body>
</html>
