

#source {
    color:greenyellow;
     font-size:35px;   
}


#destination {
    color:gray;
    font-size:25px;
}

.mover {
    position: absolute;
    background-color: #B0E0E6;
    left: 40px;
    width: 80px;
    height: 80px;
    margin: 5px;
  }


body {
}
