
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thankyou</title>
</head>
<body>
    <div>
        <h2>Saved successfully</h2>

        @Html.ActionLink("Summary Page", "summary", "Product")
    </div>
</body>
</html>
