

#dos
{
    background-color: blue;
}

#nice
{
    font-size: 25px;
    color: crimson;
}

#gold
{
    font-size: 25px;
    color:gold;
}


#mix
{
    font-size: 35px;
    color: rgb(224, 164, 35);
}

#purple
{
    font-size: 35px;
    color: rgb(130, 68, 245);
}

#dates
{
    font-size: 20px;
    color: rgb(130, 68, 245);
}


#aqua
{
    font-size: 38px;
    color: rgb(33, 161, 235);
}





