
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>What</title>
</head>
<body>
    <h2> Tell me...are you @ViewData["Place"]   </h2>
</body>
</html>
